* { -webkit-user-select: none;box-sizing: border-box; outline: none; }

#window          { transition: 0.3s height ease-out; }
#window.expanded { height: 400px!important; }

html, body {
  width: 368px;
  height: 100px;
  overflow: hidden;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Roboto;
  font-size: 14px;
  background-image: url(../img/background.svg);
  background-size: 371px;
}

#status {
  line-height: 20px;
  opacity: 0;
  transition: all 0.15s;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: 0.08em;
}
#status.show {
  opacity: 1;
}
.advancedOptionsToggle {
  cursor: pointer;
  background-image: url(../img/expand_arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 00px;
  opacity: 1;
}

.advancedOptionsToggle--hidden {
  opacity: 0;
}

.headerLogo {
  width: 93px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.onOffSwitch {
  cursor: pointer;
  background-image: url(../img/on-off.svg);
  border-radius: 4px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 138px;
  display: block;
  width: 92px;
  height: 29px;
  transition: 0.3s background-position;
  position: absolute;
  top: 25px;
  left: 25px;
}

.onOffSwitch--off {
  background-position: -46px 0;
}

