span.timeIsMoney {
  border-bottom-style: dotted!important;
  border-bottom-width: 2px!important;
}

span.timeIsMoney:hover > span.timeIsMoney-tooltip {
  display: block!important;
}

.timeIsMoney-tooltip {
  background-color: #50E3C2;
  color: black;
  padding: 10px;
  z-index: 10000000;
  position: absolute;
  display: none;
  pointer-events: none;
}

.timeIsMoney-tooltip.active {
  display: block;
}
