span.timeIsMoney {
  border-bottom-style: dotted!important;
  border-bottom-width: 2px!important;
}

span.timeIsMoney:hover > span.timeIsMoney-tooltip {
  display: block!important;
}

.timeIsMoney-tooltip {
  background-color: #53cfdf;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #302f33;
  width: 80px;
  height:80px;
  line-height: 80px;
  text-align: center;
  border-radius: 40px;
  z-index: 10000000;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(-20px,0,0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-delay: 0.3s;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.timeIsMoney-tooltip:after {
	right: calc(100% - 2px);
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #53cfdf;
	border-width: 10px;
	margin-top: -10px;
}

.timeIsMoney-tooltip.active {
  opacity: 1;
  transform: translate3d(0,0,0);
}
